<% include header %>
  <article class="article" data-pid="<%= article._id %>">
    <h2 class="text-center">
      <%= article.title %>
    </h2>
    <p class="text-center">
      <span>
        <a href="/u/<%= article.uid %>" target="_blank"><span class="glyphicon glyphicon-user"></span><%= article.name%></a>
      </span>
      <span><span class="glyphicon glyphicon-time"></span><%= formatDate(article._id,2) %></span>
      <span><span class="glyphicon glyphicon-eye-open"></span><%= article.views %></span>
      <span><span class="glyphicon glyphicon-comment"></span><%= article.comment.length %></span>
    </p>
    <div class="content lh-hg">
      <%- article.content %>
    </div>
  </article>
  <hr/>
  <h2>评论</h2>

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%= article._id %>" data-title="<%= article.title %>" data-url="/p/<%= article._id %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"z-blog-xhttkl"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
      </div>
      </div>
      </div>
      <%include footer %>