<!DOCTYPE html>
<!--
  瞅啥么瞅
-->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/dest/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/dest/stylesheets/all.min.css" />
  <link rel="stylesheet" href="/dest/stylesheets/wangEditor.min.css">
</head>

<body id="app">
  <div id="mask" v-show="mask" v-on:click="closeMask"></div>
  <header id="header">
    <a href="/" id="logo">
      <img src="/assets/images/logo.png" alt="">
      <span>记笔</span>
    </a>
    <nav id="nav">
      <ul>
        <li class="search">
          <form action="/search">
            <input type="search" placeholder="请输入..." name="kw">
            <input type="hidden" placeholder="请输入..." name="page" value=1>
            <button type="submit" class="button searchBtn" v-on:click.prevent="search">
              <i class="icon-search"></i>
            </button>
          </form>
        </li>
        <li>
          <a href="/" class="current">首页</a>
        </li>
        <li>
          <a href="/tag/node">Node</a>
        </li>
        <li>
          <a href="/tage/js">JS</a>
        </li>
        <li>
          <a href="/tag/css">CSS</a>
        </li>
        <% if(loginUser) { %>
        <li class="user clearfix" v-on:mouseover="state.sub =! state.sub" v-on:mouseout="state.sub =! state.sub">
          <a href="/user/<%= loginUser.uid %>">
            <img src="/assets/images/user_avatar/default.png" alt=""><%= loginUser.name %>
          </a>
          <ul class="list-group" v-show="state.sub">
            <li>
              <% if(loginUser.group = 'admin'){ %>
              <a href="/admin">后台管理</a>
              <% } %>
            </li>
            <li>
              <a href="/user/signout">退出</a>
            </li>
          </ul>
        </li>
        <% } %>
        <% if(!loginUser){ %>
        <li><a href="" v-on:click.prevent="openSign">登陆/注册</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <header id="mobile-hd">
    <a id="mobile-menu" v-on:click.stop="toggleSidebar"><i class="icon-reorder"></i></a>
    <img src="/assets/images/logo.png" alt="">
  </header>
  <div id="sign" v-show="state.sign" v-cloak>
    <ul>
      <li v-bind:class="{'current':state.signin}" v-on:click="toggleSign">登陆</li>
      <li v-bind:class="{'current':state.signup}" v-on:click="toggleSign">注册</li>
    </ul>
    <form id="signin"  class="input-group" method="POST" action="/user/signin" v-show="state.signin">
      <label for="uid">账号
        <i class="icon-user"></i>
      </label>
      <input class="input" type="text" name="uid" id="uid">
      <label for="password">密码
        <i class="icon-lock"></i>
      </label>
      <input class="input" type="password" name="password" id="password">
      <label for="rember">
        记住我
        <input id="rember" name="rember" type="checkbox" checked/>
      </label>
      <button type="submit" class="button-info button-block">登陆</button>
    </form>
    <form id="signup" class="input-group" method="POST" action="/user/signup" v-show="state.signup">
      <label for="uid">账号
        <i class="icon-user"></i>
      </label>
      <input class="input" type="text" name="uid" id="uid">
      <label for="password">密码
        <i class="icon-lock"></i>
      </label>
      <input class="input" type="password" name="password" id="password">
      <label for="password-repeat">确认密码
        <i class="icon-lock"></i>
      </label>
      <input class="input" type="password" name="password-repeat" id="password-repeat">
      <button type="submit" class="button-info button-block">注册</button>
    </form>
  </div>
  <div id="backtotop" v-show="state.scrollTop">
    <a href="#app"><i class=" icon-arrow-up"></i></a>
  </div>
  <div class="container content">
    <% if(success){ %>
      <p class="alert-success">
        <%= success %>
      </p>
      <% } %>
        <% if(error){ %>
          <p class="alert-danger">
            <%= error %>
          </p>
          <% } %>
            <div class="row">
              <div class="grid-1 side">
                <aside id="sidebar" v-bind:class="{'open':state.sidebar}">
                  <ul class="list-group">
                    <li class="show-xs">
                      <form action="/search">
                        <input type="search" placeholder="请输入..." name="kw">
                        <input type="hidden" placeholder="请输入..." name="page" value=1>
                        <button type="submit" class="button searchBtn" v-on:click.prevent="search">
                         <i class="icon-search"></i>
                        </button>
                      </form>
                    </li>
                    <% if(loginUser) { %>
                    <li class="show-xs"><a href="/user/<%= loginUser.uid %>"><img src="/assets/images/user_avatar/default.png" alt=""><%= loginUser.name %></a></li>
                    <% } %>
                    <% if(!loginUser){ %>
                    <li class="show-xs"><a v-on:click="openSign">登陆/注册</a></li>
                    <% } %>
                    <li>
                      <a href="/" class="current">首页</a>
                    </li>
                    <li>
                      <a href="/">Node</a>
                    </li>
                    <li>
                      <a href="/ ">JS</a>
                    </li>
                    <li>
                      <a href="/">CSS</a>
                    </li>
                    <% if (loginUser) { %>
                    <li class="show-xs">
                      <a href="/user/signout">退出</a>
                    </li>
                    <% } %>
                  </ul>
                </aside>
              </div>
              <div class="grid-4">