<% include header %>
  <div class="userinfo row">
    <div class="grid-1">
      <img src="/assets/images/user_avatar/xhttkl.png" alt="" class="avatar">
    </div>
    <div class="grid-5">
      <% if(loginUser&&loginUser.uid === user.uid){ %>
        <button class="button-primary pull-right edit hidden-xs">编辑我的资料</button>
        <% } %>
          <p>
            <span>个人介绍：</span>
            <span class="editable"><%= user.summary %></span>
          </p>
          <p>
            <span>我的知乎:</span>
            <span class="editable">
              <a href="<%= user.zhihu %>" target="_blank"><%= user.zhihu %></a>
            </span>
          </p>
          <p>
            <span>我的Github:</span>
            <span class="editable">
              <a href="https://github.com/MadSummer" target="_blank">https://github.com/MadSummer</a>
            </span>
          </p>
          <p>
            <span>其他:</span><span class="editable"><%= user.other %></span>
          </p>
          <p>
            <span>关注:</span>
            <a href=""><%= user.follow && user.follow.length %></a>
          </p>
          <% if(loginUser && (loginUser.uid!= user.uid)) { %>
          <button class="btn btn-primary">关注</button>
          <% } %>
    </div>
  </div>
  <hr/>
  <% article.forEach(function(article) {  %>
    <article class="article row" data-pid="<%= article._id %>">
      <a href="/article/<%= article._id %>" target="_blank"><img src="/assets/images/cover.jpg" class="cover hidden-xs grid-1"></a>
      <div class="grid-5">
        <header>
          <a href="/article/<%= article._id %>" target="_blank">
            <%= article.title %>
          </a>
        </header>
        <div class="summary">
          <%= article.content.slice(0,70) %>
        </div>
        <p>
          <span><i class="icon-time"></i><%= formatDate(article._id,2) %></span>
          <span><i class="icon-eye-open"></i><%= article.views %></span>
          <span><i class="icon-comment"></i><%= article.comment.length %></span>
        </p>
      </div>
    </article>
    <% }) %>
</div>
</div>
</div>
<% include footer %>