<% include header %>
  <div class="user row">
    <div class="col-md-3 col-xs-3">
      <img src="/images/user_avatar/xhttkl.png" alt="" class="avatar">
    </div>
    <div class="col-md-9 col-xs-9">
      <% if(loginUser&&loginUser.uid === user.uid){ %>
        <button class="btn btn-primary pull-right edit hidden-xs">编辑我的资料</button>
        <% } %>
          <p><span>个人介绍：</span><span class="editable"><%= user.summary %></span></p>
          <p><span>我的知乎:</span><span class="editable"><a href="<%= user.zhihu %>" target="_blank"><%= user.zhihu %></a></span></p>
          <p><span>其他:</span><span class="editable"><%= user.other %></span></p>
          <p><span>关注:</span>
            <%= user.follow && user.follow.length %>
          </p>
          <% if(loginUser && (loginUser.uid!= user.uid)) { %>
            <button class="btn btn-primary">关注</button>
            <% } %>
    </div>
  </div>
  <hr/>
  <% article.forEach(function(article) {  %>
    <article class="article row" data-pid="<%= article._id %>">
      <a href="/p/<%= article._id %>" target="_blank"><img src="/images/cover.jpg" class="cover col-md-3"></a>
      <div class="col-md-9">
        <header>
          <a href="/p/<%= article._id %>" target="_blank">
            <%= article.title %>
          </a>
        </header>
        <div class="summary">
          <%- article.content.slice(0,70) %>
        </div>
        <p>
          <span><i class="icon-time"></i><%= formatDate(article._id,2) %></span>
          <span><i class="icon-eye-open"></i><%= article.views %></span>
          <span><i class="icon-comment"></i><%= article.comment.length %></span>
        </p>
      </div>
    </article>
    <hr/>
    <% }) %>
      </div>
      </div>
      </div>
      <% include footer %>